@font-face{
    font-family:'bold';
    src: url(../fonts/Montserrat-Bold.ttf) format(truetype);
    font-weight:700;
}
@font-face{
    font-family:'regular';
    src: url(../fonts/Montserrat-Medium.ttf) format(truetype);
    font-weight: 500 ;
}
@font-face{
    font-family:'medium';
    src: url(../fonts/Montserrat-Medium.ttf) format(truetype);
    font-weight:400;
}
@font-face{
    font-family:'prostoone';
    src: url(../fonts/ProstoOne-Regular.ttf) format(truetype);
    font-weight:400 ;
}
